<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserWatchListServlet</servlet-name>
    <servlet-class>servlet.UserWatchListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminWatchListServlet</servlet-name>
    <servlet-class>servlet.AdminWatchListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>servlet.MovieServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>servlet.EditBookServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>



  <servlet>
    <servlet-name>UserMovieServlet</servlet-name>
    <servlet-class>servlet.UserMovies</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <servlet-class>servlet.DeleteMovieServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <url-pattern>/delete-movie</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserMovieServlet</servlet-name>
    <url-pattern>/user-movies</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/front/newMovie</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/front/registration</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/front/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserWatchListServlet</servlet-name>
    <url-pattern>/front/AllMovieUser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminWatchListServlet</servlet-name>
    <url-pattern>/front/allMovieAdmin</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/editMovie</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>


</web-app>

