<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserMovieLibraryServlet</servlet-name>
    <servlet-class>servlet.UserMovieLibraryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMovieLibraryServlet</servlet-name>
    <servlet-class>servlet.AdminMovieLibraryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>servlet.MovieServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>updatedMovieServlet</servlet-name>
    <servlet-class>servlet.updatedMovieServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>



  <servlet>
    <servlet-name>UserMovieServlet</servlet-name>
    <servlet-class>servlet.UserMovies</servlet-class>
  </servlet>



  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>servlet.EditUserServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/front/EditUserServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserMovieServlet</servlet-name>
    <url-pattern>/user-movies</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/front/newMovie</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/front/registration</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/front/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserMovieLibraryServlet</servlet-name>
    <url-pattern>/front/User-MovieLibrary</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminMovieLibraryServlet</servlet-name>
    <url-pattern>/front/Admin-MovieLibrary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminMovieLibraryServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>updatedMovieServlet</servlet-name>
    <url-pattern>/editMovie</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>


</web-app>

